name: build 

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
  push:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/workflows/shared/setup
      - name: Build 
        shell: bash
        run: make desktop -j
